{{define "About"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/accueil.css">
    <title>A propos</title>
</head>
<body>
    <header>
        <img src="/src/assets/img/logo.png" alt="Logo du jeu" class="logo">
        <nav class="entete">
            <a href="/accueil" class="header-button">Accueil</a>
            <a href="/favoris" class="header-button">Favoris</a>
            <a href="/about" class="header-button">A propos</a>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Rechercher..." class="search-bar">
        </div>
    </header>
</body>
</html>
{{end}}