{{define "listMonster"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/assets/css/accueil.css">
    <title>Liste des monstres</title>
</head>

<body>
    <header>
        <img src="/src/assets/img/logo.png" alt="Logo du jeu" class="logo">
        <nav class="entete">
                <a href="/accueil">Accueil</a>
                <a href="/favoris">Favoris</a>
                <a href="/about">A propos</a>
        </nav>
    </header>
    <h1>List of Monsters</h1>
    <div class="monster-grid">
        {{range .Monsters}}
        <div class="monster-card">
            <img src="/src/assets/img/{{.Id}}.png" alt="Image de {{.Name}}" class="monster-img">
            <h2>{{.Name}}</h2>
            <p>Espèce : {{.Species}}</p>
            <p>Type : {{.Type}}</p>
            <a href="/monster?id={{.Id}}">Consulter</a>
        </div>
        {{end}}
    </div>

</body>

</html>
{{end}}